<div class="wrapper">
    <section class="row">
        <div class="col-sm-8">
            <h1>Introduction</h1>
            <p>I am a javascript full stack developer who always has tendency to build attractive and astonishing works in all of my projects. I have 4 years experience working as email developer/ui developer/front-end developer in the industry. </p>
            <p>If you're interested in my skills, please contact me through those platforms on the right side.</p>
            <p>Front-end development skills: HTML5, CSS3(LESS/SCSS), Javascript/JQuery, React, Redux, Angular 7, webpack, gulp.js</p>
            <p>Back-end development skills: Express.js, Handlebar.js, knex.js, Postgresql, MongoDB/Mlab</p>
            <p>Design skills: Adobe Photoshop and Illustrator</p>
        </div>
        <div class="col-sm-4 info">
            <img src="https://dl.dropboxusercontent.com/s/6p57p26k4v9k46z/profile.jpg" width="240"/>
            <h5><strong>Contact Me</strong></h5>
            <hr />
            <ul>
                <li>Email address: <a href="mailto:peterfuwork@gmail.com" target="_blank">Email</a></li>
                <li>Linkedin: <a href="https://www.linkedin.com/in/peter-fu-b5215a33/" target="_blank">Linkedin</a></li>
                <li>Github: <a href="https://github.com/peterfuwork" target="_blank">Github</a></li>
            </ul>
        </div>
    </section>
</div>