<div class="wrapper">
    <!-- Section 1 -->
    <h1>Portfolio</h1>
    <h4>Company Projects</h4>
    <section class="row box">
        <!-- row 1 -->
        <!-- project 1 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="https://www.shaneco.com/engagement-wedding/engagement-rings/style-finder" class="portfolio-link" target="_blank">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">HTML, CSS, Javascript/JQuery </span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/tzghcul9pbpp5yu/stylefinderquiz.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Style Finder Quiz</figcaption>
                    <span class="info"><strong>Company: </strong>Shane Co.</span><br>
                    <span class="info"><strong>Year: </strong>2018</span><br>
                    <span class="info"><strong>Description: </strong>This is the update version of style finder. The customer will be able to find their favorite engagement type based on the selection of each answer.</span>
                </div>
            </a>
        </figure>
        <!-- project 2 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="https://www.shaneco.com/" class="portfolio-link" target="_blank">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">HTML, CSS/SCSS/LESS</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/13k04o2wke8jovn/homepagecomponents.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Homepage Components</figcaption>
                    <span class="info"><strong>Company: </strong> Shane Co.</span><br>
                    <span class="info"><strong>Year: </strong>2018</span><br>
                    <span class="info"><strong>Description: </strong>Some Valentine's Day home page components I created for Shane Co.</span>
                </div>
            </a>
        </figure>
        <!-- project 3 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3 clear-left-xs">
            <a href="https://www.shaneco.com/jewelry/necklaces" class="portfolio-link" target="_blank">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">HTML, CSS/SCSS/LESS</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/uotgknqs3mugix7/landingpage.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Landing Pages Updates</figcaption>
                    <span class="info"><strong>Company: </strong> Shane Co.</span><br>
                    <span class="info"><strong>Year: </strong>2017</span><br>
                    <span class="info"><strong>Description: </strong>Due to we had some off shore team building Shane Co. website components, me and my coworkers helped to debug their code and utilized their contents to re-create or re-work all the existing pages to new CMS.</span>
                </div>
            </a>
        </figure>
        <!-- project 4 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="#" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">HTML, CSS/SCSS/LESS</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/54h5xsgj33tugwl/customemailtemplates.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">HTML Campaign Emails</figcaption>
                    <span class="info"><strong>Company: </strong>Shane Co.</span><br>
                    <span class="info"><strong>Year: </strong>2017</span><br>
                    <span class="info"><strong>Description: </strong>Shane Co. email team purchased an email template online and I was responsible to customize all of them to match Shane Co. brand standard.</span>
                </div>
            </a>
        </figure>
    </section>
    <section class="row box">
        <!-- row 2 -->
        <!-- project 5 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3 clear-left-xs">
            <a href="#" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">HTML, CSS, Javascript/JQuery</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/bt9pucee90kd2ho/stylefinder_old.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Style Finder (old)</figcaption>
                    <span class="info"><strong>Company: </strong>Shane Co.</span><br>
                    <span class="info"><strong>Year: </strong>2016</span><br>
                    <span class="info"><strong>Description: </strong>This is the first style finder project I built for Shane Co. marketing team. The customers will be able to find their best matching ring style based on their image selections.</span>
                </div>
            </a>
        </figure>
        <!-- project 6 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="#" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">Photoshop, HTML, CSS, Responsive Design</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/nrrpj6xw526r9og/homepage2015.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Home page update</figcaption>
                    <span class="info"><strong>Company: </strong>Shane Co.</span><br>
                    <span class="info"><strong>Year: </strong>2015</span><br>
                    <span class="info"><strong>Description: </strong>This was the first time Shane Co. has their responsive site. Me and my coworkers created mockups and worked with back-end team to deploy all the new pages.</span>
                </div>
            </a>
        </figure>
    </section>
    <section class="row box">
        <h4>School Projects</h4>
        <!-- project 1 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="http://chiaen.fu.galvanize.surge.sh/" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">Html5, SCSS/CSS, Javascript</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/vw101f5wjspid9v/galvanize_eats.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Galvanize Eats</figcaption>
                    <span class="info"><strong>Year: </strong>2018</span><br>
                    <span class="info"><strong>Description: </strong>This project allows users to purchase meals through shopping cart.</span>
                </div>
            </a>
        </figure>
        <!-- project 2 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="http://fish-store.surge.sh/" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">React, SCSS, Redux, Node.js, Express.js, Postgresql, Knex.js</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/2bvev0wt00u8hoh/galvanize_fish_store.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Fish Store</figcaption>
                    <span class="info"><strong>Year: </strong>2018</span><br>
                    <span class="info"><strong>Description: </strong>This project gives users to post a new fish product, and post/edit/delete customer reviews.</span>
                </div>
            </a>
        </figure>
        <!-- project 3 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="http://galvanize-g102-chiaen-fu-movies.surge.sh/" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">React, Node.js, Express.js, Postgresql, Knex.js</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/dkyb7begkpnahsj/galvanize_movie.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Movie Store</figcaption>
                    <span class="info"><strong>Year: </strong>2018</span><br>
                    <span class="info"><strong>Description: </strong>This project is similar to the fish store project. The only difference is the user is able to load another six movies when the page hit the bottom of the page.</span>
                </div>
            </a>
        </figure>
        <!-- project 4 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="http://herefortreble.surge.sh/" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">Angular 7, Node.js, Express.js, Postgresql, Knex.js</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/xnlbzympgmpx8b1/galvanize-herefortreble.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Here For Treble</figcaption>
                    <span class="info"><strong>Year: </strong>2018</span><br>
                    <span class="info"><strong>Description: </strong>This is my group project at Galvanize. The user will be able to add all favorite musical artists and the program will tell you all the other matching users from database.</span>
                </div>
            </a>
        </figure>
    </section>
    <!-- Section 3 -->
    <h4>Personal Projects</h4>
    <section class="row box">
        <!-- project 1 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="#" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">Construct 2</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/xgwkhn6odyindbc/html_game.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">HTML5 Game (not finished yet)</figcaption>
                    <span class="info"><strong>Year: </strong>2016</span><br>
                    <span class="info"><strong>Description: </strong>Here's the html game demo I made for fun.</span>
                </div>
            </a>
        </figure>
        <!-- project 2 -->
        <figure class="figure col-xs-6 col-sm-6 col-md-3">
            <a href="#" class="portfolio-link">
                <div class="desc">
                    <span class="caret"></span>
                    <span class="skill">Illustrator</span>
                </div>
                <div class="img-wrapper">
                    <img class="img" src="https://dl.dropboxusercontent.com/s/juexez6fhwu4bbb/digital_art.jpg" />
                </div>
                <div class="info-box">
                    <figcaption class="title">Digital Art</figcaption>
                    <span class="info"><strong>Year: </strong>2013</span><br>
                    <span class="info"><strong>Description: </strong>Some digital artworks I made in college.</span>
                </div>
            </a>
        </figure>
    </section>
</div>