<div class="wrapper">
    <section class="row">
        <div class="col-sm-8">
            <h1>Introduction</h1>
            <p>I am an enthusiastic digital artist who always has tendency to build attractive and astonishing works in all of my projects. I love designing mockups and coding responsive web pages because every html page is like a master piece to me. There's nothing better than creating art and doing it as career at the same time.</p>
            <p>I know how to code. I do have some front-end development experiece such as styling pretty wireframe with CSS and use javascript to manipulate the DOM. If you're interested in my skills, please contact me through those platforms on the right side.</p>
            <p>Front-end development skills: HTML5, CSS3(LESS/SCSS), Javascript/JQuery</p>
            <p>Design skills: Adobe Photoshop and Illustrator</p>
        </div>
        <div class="col-sm-4 info">
            <img src="https://dl.dropboxusercontent.com/s/6p57p26k4v9k46z/profile.jpg" width="240"/>
            <ul>
                <li>Email address: <a href="mailto:peterfuwork@gmail.com" target="_blank">Email</a></li>
                <li>Linkedin: <a href="https://www.linkedin.com/in/peter-fu-b5215a33/" target="_blank">Linkedin</a></li>
                <li>Github: <a href="https://github.com/peterfuwork" target="_blank">Github</a></li>
            </ul>
        </div>
    </section>
</div>