<div class="navs">
    <nav class="nav">
        <a href="index.html" class="logo"><img src="https://dl.dropboxusercontent.com/s/1mjjs7khkdkat7c/peter_fu_logo.png"/></a>
        <a class="link" href="index.html">Introduction</a>
        <a class="link" href="portfolio.html">Portfolio</a>
        <a class="link" href="portfolio.html">Contact</a>
    </nav>
    <nav class="mobile-nav">
        <a href="#" class="menu">
            <img src="menu.svg" onerror="this.onerror=null; this.src='image.png'" />
        </a>
        <a class="link" href="index.html">Introduction</a>
        <a class="link" href="portfolio.html">Portfolio</a>
        <a class="link" href="portfolio.html">Contact</a>
    </nav>
</div>
