<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Peter Fu Website</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  {{> header }}
  {{> nav }}
  {{> container }}
  {{> footer }}
  <script src="js/script.js"></script>
</body>
</html>
